<section class="card">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>aplicacion desarrollada por Jorge Luis Almanza Lopez, Mario Alonso Alvarez Perez, Jovanny Carlos Gonzales, Christian Ulises Rodriguez Noriega y Diego Alejandro Talavera Bolaños para la materia Tecnologias para la web impartida por Efrain Arredondo Morales </p>
    </div>
</section>