<section class="card">
  <div class="card-body">
    <h1 class="display-4"><strong><strong></strong>Upiiz</strong></strong></h1>
    <hr class="my-4">
    <p>Sistema gestor de registro de aspirantes a la Upiiz</p>
    <p>Creado 2018</p>
    <!--  <a href="#" class="btn btn-primary">Boton</a> -->
  </div>
</section>
